@{
    var user = Util.GetCurrentUser();
    var year = DateTime.Now.Year;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <title>@ViewData["Title"] - CASAIII</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- jQuery -->
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.ui.touch-punch.min.js"></script>
    <!-- Select2 JS -->
    <script src="~/js/select2.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <!-- Slimscroll JS -->
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <!-- Datatable JS -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <!-- Datetimepicker JS -->
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Custom JS -->
    <script src="~/js/app.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <!-- My script -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/account.js" asp-append-version="true"></script>
    <!-- Tailwind Js -->
    <script src="~/js/tailwind.js" asp-append-version="true"></script>
    <!-- Summernote JS -->
    @* <script src="~/plugins/summernote/summernote-bs4.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/plugins/summernote/summernote.js"></script>
    <script src="~/plugins/summernote/summernote.min.js"></script>
    <script src="~/plugins/summernote/summernote-lite.js"></script> *@

    <script>
               function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#1E403F",
                timer: 30000,
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
                confirmButtonColor: "#1E403F",
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Notification',
                icon: 'info',
                text: message,
            })
        }

        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#1E403F",
                timer: 30000,
            })
        }

        function newErrorAlert(message, url) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#1E403F",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function errorAlertWithRedirect(message, url) {
            Swal.fire({
                title: "Error",
                text: message,
                icon: "error",
                timer: 30000,
                confirmButtonColor: "#1E403F",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

        function newSuccessAlert(message, url) {
            Swal({
                icon: 'success',
                text: message,
                confirmButtonColor: "#1E403F",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function successAlertWithRedirect(message, url) {
            Swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: 30000,
                confirmButtonColor: "#1E403F",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

        function errorAlertwithTwoButtons(yesUrl, noUrl, newUrl, errorTitle) {
            Swal.fire({
                title: errorTitle,
                text: "",
                icon: "error",
                buttons: {
                    cancle: "No",
                    confirmButtonColor: "#1E403F",
                    change: "Yes",
                    new: "Create Pin",
                },
            })
                .then((status) => {
                    debugger;
                    switch (status) {
                        case "change":
                            location.href = yesUrl;
                            break;
                        case "new":
                            location.href = newUrl;
                            break;
                        default:
                            location.href = noUrl;
                    }
                });
        }

        function SweeTest(yesUrl, noUrl) {
            Swal.fire({
                title: "Unverified E-mail Address",
                text: "Check your inbox Or Change email",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#1E403F",
                confirmButtonText: "Resend Email",
                cancelButtonText: "Change Email",
                cancelButtonColor: "#D3AF71",
                closeOnConfirm: false,
                closeOnCancel: false
            })
                .then((result) => {
                    debugger
                    if (result.isConfirmed) {
                        location.href = yesUrl
                    }
                    else {
                        location.href = noUrl
                    }

                });
        }
    </script>


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/select2.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/css/line-awesome.min.css">

    <!-- Summernote CSS -->
    @* <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="~/plugins/summernote/summernote-lite.css" rel="stylesheet" /> *@
    <!-- Select2 CSS -->
    @*<link rel="stylesheet" href="assets/css/select2.min.css">*@

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="row m-auto" id="loader" style="z-index:9999; display:none">
            <div class="">
                <i class="fa fa-spinner fa-spin text-muted" style="font-size:70px;"></i>
            </div>
        </div>

        <!-- Header -->
        <div class="header">

            <!-- Logo -->

            <div class="header-left">
                <a asp-action="Index" asp-controller="Admin" class="logo"><img src="~/images/logo.png" width="40" height="40" alt=""></a>
            </div>
            <!-- /Logo -->

            <a id="toggle_btn">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <!-- Header Title -->
            <div class="page-title-box">
                <h3>CASA III </h3>
            </div>
            <!-- /Header Title -->

            <a id="mobile_btn" class="mobile_btn"><i class="fa fa-bars btnYellow"></i></a>

            <!-- Header Menu -->
            <ul class="nav user-menu">

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span>@user.FullName</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v btnYellow"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    @* <a class="dropdown-item" href="#">My Profile</a>
						<a class="dropdown-item" href="#">Settings</a> *@
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>
        <!-- /Header -->
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title"> <span>Main</span></li>
                        <li>
                            <a asp-action="Index" asp-controller="Admin"><i class="la la-dashboard btnYellow"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="menu-title"></li>
                        <li><a asp-action="Staffs" asp-controller="Admin"><i class="la la-users btnYellow"></i> <span>Team Management</span></a></li>
                        <li class="menu-title"></li>
                        <li><a asp-action="Projects" asp-controller="Admin"><i class="fa fa-building  btnYellow"></i> <span>Project Management</span></a></li>
                        <li class="menu-title"></li>
                        <li><a asp-action="Vendors" asp-controller="Admin"><i class="fa fa-truck btnYellow"></i> <span>Vendor Management</span></a></li>
                        <li class="menu-title"></li>
                        <li><a asp-action="Affiliates" asp-controller="Admin"><i class="fa fa-user-plus btnYellow"></i> <span>Affiliate Management</span></a></li>
                        <li class="menu-title"></li>
                        <li><a asp-action="Contacts" asp-controller="Admin"><i class="fa fa-envelope btnYellow"></i> <span>Contact Us</span></a></li>
                        <li class="menu-title"></li>
                        <li><a asp-action="Index" asp-controller="NewsLetter"><i class="fa fa-newspaper-o btnYellow"></i> <span>NewsLetter Mgt</span></a></li>
                        <li class="menu-title"></li>
                        <li><a asp-action="Index" asp-controller="Partner"><i class="fa fa-handshake-o btnYellow"></i> <span>Partner Management</span></a></li>
                        <li class="menu-title"></li>
                        <li class="submenu">
                            <a href="#"><i class="la la-key btnYellow"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="#" onclick="popChangePasswordModal()">Change Password</a></li>
                                <li><a asp-action="Logout" asp-controller="Account">LogOut</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->
        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <!-- Page Content -->
            <div class="content container-fluid  bg-gradient-to-br from-slate-50 via-white to-amber-50/30">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!-- /Page Content -->
            <div class="content container-fluid border-t border-t-[#1E403F]  bg-gradient-to-br from-slate-50 via-white to-amber-50/30">
                <footer class="footer text-muted">
                    <div class="container text-center text-[#1E403F]">
                        <span class="btnYellow text-[#1E403F]">&copy; </span> @year - MTech Global
                    </div>
                </footer>
            </div>
        </div>
        <!-- /Page Wrapper -->
    </div>

    <div class="modal custom-modal fade" id="changePassModal" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <div class="modal-body">
                    <h5 class="modal-title text-center mb-3">Change Password</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Old Passowrd <span class="text-danger">*</span></label>
                                <input type="password" id="old_password" class="form-control" placeholder="Enter Old Password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>New Passowrd <span class="text-danger">*</span></label>
                                <input type="password" id="new_password" class="form-control" placeholder="Enter New Password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Confirm New Passowrd <span class="text-danger">*</span></label>
                                <input type="password" id="cnew_password" class="form-control" placeholder="Enter Confirm New Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-b-20 text-center">
                    <button class="btn newBtn submit-btn" id="change_pass_btn" onclick="changePassword()">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</body>

 @await RenderSectionAsync("Scripts", required: false)
</html>
